<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zzz.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.zzz.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StorageAddServlet</servlet-name>
    <servlet-class>com.zzz.servlet.StorageAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StorageUpdateServlet</servlet-name>
    <servlet-class>com.zzz.servlet.StorageUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StorageDeleteServlet</servlet-name>
    <servlet-class>com.zzz.servlet.StorageDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StorageDisplayServlet</servlet-name>
    <servlet-class>com.zzz.servlet.StorageDisplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDisplayServlet</servlet-name>
    <servlet-class>com.zzz.servlet.UserDisplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.zzz.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuperuserLoginServlet</servlet-name>
    <servlet-class>com.zzz.servlet.SuperuserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StorageSearchServlet</servlet-name>
    <servlet-class>com.zzz.servlet.StorageSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>com.zzz.servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.zzz.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsAddServlet</servlet-name>
    <servlet-class>com.zzz.servlet.GoodsAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <servlet-class>com.zzz.servlet.GoodsDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsSearchServlet</servlet-name>
    <servlet-class>com.zzz.servlet.GoodsSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <servlet-class>com.zzz.servlet.GoodsUpdateServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StorageAddServlet</servlet-name>
    <url-pattern>/StorageAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StorageUpdateServlet</servlet-name>
    <url-pattern>/StorageUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StorageDeleteServlet</servlet-name>
    <url-pattern>/StorageDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StorageDisplayServlet</servlet-name>
    <url-pattern>/StorageDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDisplayServlet</servlet-name>
    <url-pattern>/UserDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuperuserLoginServlet</servlet-name>
    <url-pattern>/SuperuserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StorageSearchServlet</servlet-name>
    <url-pattern>/StorageSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsAddServlet</servlet-name>
    <url-pattern>/GoodsAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDeleteServlet</servlet-name>
    <url-pattern>/GoodsDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsSearchServlet</servlet-name>
    <url-pattern>/GoodsSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <url-pattern>/GoodsUpdate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
